@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    display: flex;
    justify-content: center;
    margin: 0;

    width: 100%;
}

main{
    align-items: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}